body {

    background-image: url("http://wallpaper-gallery.net/images/travel-desktop-wallpaper/travel-desktop-wallpaper-5.jpg");
    background-color: transparent;

}

h1 {

    text-align: center;
    color: chocolate;
    font-family: AppleGothic;
}

h2 {

    text-align: center;
    color: brown;
    font: all-petite-caps;
    font-family: AppleMyungjo;
}

#p1 {

    text-align: left;
    color: coral;
    font-family: Arial;
    font-size: large;
    font-style: italic;

}

#p2 {

    text-align: left;
    color: coral;
    font-family: Arial;
    font-size: large;
    font-style: italic;

}

#p3 {

    text-align: left;
    color: coral;
    font-family: Arial;
    font-size: large;
    font-style: italic;

}

#p4 {

    text-align: left;
    color: coral;
    font-family: Arial;
    font-size: large;
    font-style: italic;

}

#p5 {

    text-align: left;
    color: coral;
    font-family: Arial;
    font-size: large;
    font-style: italic;

}